/* src/components/GameCard.css */

.light-theme {
  --color-card-bg: #ffffff;
  --color-card-border: #ffb347;
  --color-card-hover-bg: #ffe4b5;
  --color-card-title: #2c3e50;
}

.dark-theme {
  --color-card-bg: #34495e;
  --color-card-border: #9b59b6;
  --color-card-hover-bg: #703c70;
  --color-card-title: #ffffff;
}

.game-card {
  border: 3px solid var(--color-card-border);
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  background: var(--color-card-bg);
  transition: transform 0.2s, background-color 0.2s;
  width: 180px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: inherit;
}

.game-card:hover {
  transform: scale(1.1);
  background-color: var(--color-card-hover-bg);
}

.game-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.game-card h3 {
  margin-top: 10px;
  font-size: 18px;
  color: var(--color-card-title);
  font-family: "Comic Sans MS", cursive, sans-serif;
}
